# Supabase – replace with your project credentials
NEXT_PUBLIC_SUPABASE_URL=https://pmpvbzquoasnvgnqouco.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtcHZienF1b2FzbnZnbnFvdWNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4ODI4NjksImV4cCI6MjA4ODQ1ODg2OX0.Kqy_rlz6-qi7CecwYYcMXsKZNwFjxGulJyJFjsS_F6o
